
{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/admin/accueil_style.css") }}">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
    <script src='https://cdn.rawgit.com/mapbox/geo-viewport/8f71814c/geo-viewport.js'></script>
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" defer></script>
    <script src="jquery.min.js" defer></script>
{% endblock %}
{% block body %}

    {% for notification in app.flashes('success') %}
        <div class="col-md-6 mx-auto text-center alert alert-success">{{ notification }}</div>
    {% endfor %}
                        
        <div class="main">
            <div class="section top row"  >
                {# 1ere box - Mon formulaire filtre #} 
                <div class="gris">
                    <div class="row" style="height:auto">
                        <div class="left col-xl-lg-2 col-sm-md-10 " style= "min-width: 258.98px;max-width:300px;max-height:550px;margin: 0 auto;margin-bottom: 1em;margin-top: 3em;">
                            <div class="annonce" id="annonce-1" style="padding: 1rem;" >
                                {{ form_start(form, {attr: {class: 'filter'}}) }}
                                {{ form_row(form.q) }}

                                <h5>Je recherche un(e)</h5>
                                {{ form_row(form.categorie) }}

                                <h5>Mon budget</h5>
                                <div class="row" style="display:flex;justify-content: space-between;flex-direction: row;">
                                    <div class='filter-min-max'>
                                        {{ form_row(form.min) }}
                                    </div >
                                    <div class='filter-min-max'>
                                        {{ form_row(form.max) }}
                                    
                                    </div >
                                </div>    
                                <div class="annonce2_3-filter">
                                    <button type="submit" class="btn btn-primary" style="margin:0 20px;justify-content:center;width:120px;text-align:center">Filtrer</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                            <div class="annonce2_3">
                                <a class="btn btn-primary" href="{{ path('annonce_ajouter' ) }}">Déposer une annonce</a>
                            </div>
                            
                            <div class="annonce2_3">
                                <a class="btn btn-primary" href="{{ path('catalogue' ) }}">Vous êtes promoteur?</a>
                            </div>
                        </div>

                        
                        {# Ma carto #}  

                        <div class="right col-xl-9 col-lg-7 col-sm-6" style="height:80vh;" >
                            <div>{% include "carto.html.twig" %}</div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="section middle row container-fluid  mx-auto col-xl-lg-10 col-sm-md-10" style="height:auto;background-color: ghostwhite;">
                <div class="blancmiddle ">
                    <section id="blancmiddle">
                        <div class="row col-xl-lg-4 col-sm-md-12" style="justify-content:space-evenly">
                            {# en ligne
                            <img src='../../public/images/middle_bg.png' alt="" style="width: 30%;margin: 18px 20px;min-width:315px">    #}
                            {# en local #}
                               
                            <img src='../../images/middle_bg.png' alt="maison-a-vendre" style="width: 30%;margin: 18px 20px;min-width:315px">   
                            <p style="font-size:3em" >Vendez votre terrain plus facilement ! </p>
                            
                        </div>
                    </section>
                    <section style="display:flex;">
                        <div class="row col-xl-lg-4 col-sm-md-12 middle-text accueil" style="justify-content:space-evenly;">
                        
                            <div  class="middle-p" style="margin-left: 5px;padding: 2px;margin-top: 5px;">
                                <h2>
                                    Retrouvez toutes les informations en urbanisme à la parcelle.
                                </h2>
                                <p style="color:grey">FoncierFab dispose des derniers documents d'urbanisme sur votre ville, tapez votre adresse sur la carte et découvrez tous les biens vendus, le zonage et leur valeur foncière!</p>

                            </div>
                            <div class="middle-p" style="margin-left: 5px;padding: 2px;margin-top: 5px;">
                                <h2>
                                    Un acteur indépendant et transparent
                                </h2>
                                <br>
                                <p style="color:grey">FoncierFab est un nouvel acteur indépendant de l'immobilier, vous souhaitez-vendre? Vous pouvez déposer votre annonce afin d'être contacté directement par un promoteur</p>

                            </div>
                            <div class="middle-p" style="margin-left: 5px;padding: 2px;margin-top: 5px;">
                                <h2>
                                    La valeur FoncierFab de votre terrain n'est pas celle que vous pensiez avoir?
                                </h2>
                                <p style="color:grey">Nous avons estimé la valeur de votre terrain directement depuis la lecture des documents d'urbanisme de votre ville, n'hésitez pas à nous contacter pour nous dire en quoi notre faisabilité pourrait êtrer améliorée!</p>

                            </div>
                        </div>
                    </section>
                </div>

            </div>
            <div class="section row" style="height:100vh">
                <div class="grisbottom" aria-label="un promoteur et un particulier se serrent la main" titre="un promoteur et un particulier se serrent la main">
                </div>
                <div class="bottom">
                <h2> Vous êtez promoteur? </h2>
                <p>Si vous avez trouvé un terrain qui vous intéresse, vous pouvez contacter directement le particulier en devant membre <a>ici</a></p>
                </div>
            </div>


            <div class="wrapper" style="height:2em;background-repeat:repeat">
                <div class="banner"></div>
            </div>
        </div>
<style>
	    /*----------------
---Footer---
----------------*/

footer{
	font-family: Circular,Helvetica,Arial,sans-serif;
	width: 100%;
	height: 100%;
	
	background:url(https://i.gyazo.com/74f0fa6b9d9ed6652f3e220ceae113cf.png)  center;
	
	
}
.footer-content{
	width: 100%;
	margin: 0 auto;
	
}
.footer-content hr{
	background: #555758;
	
}
.footer-row{
	width: 100%;
	
	
	
}

.visited_on_hover:hover {
    text-decoration: underline!important;
	color:white
} 
 
.visited_on_hover {
    color:white
} 

.visited_on_hover a:visited {
    color: white;
	text-decoration: none;
	
}

	@media screen and (max-width: 576px) {
		.lists{
			flex-direction: column;
			height:auto;
			
		}
		.li{
			text-align: center;
		}
		.footer-row{
			padding-left:0 ;
		}
}

.lists ul{
	color: #fff;
	list-style: none;

	
	height: auto;
}
.lists ul h3{
	margin-bottom: 10px;
	font-size: 16px;
}
.lists ul li{
	margin-bottom: 5px;
	font-size: 14px;
}

.socialnetworks{
	width: 100%;
	height: 82px;
	margin-bottom: 15px;
}
.socialnetworks h2{
	text-align: center;
	color: #fff;
	font-size: 16px;
	margin-bottom: 10px;
}
.icons{
	width: 100%;
	height: 100%;
  
  justify-content: center;
  display: flex;
  flex-direction: row;
  
}
.icons div{

	
	width: 35px;
	height: 35px;
	border: 1px solid #fff;
	border-radius: 100%;
	padding-left: 7px;
	padding-top: 4px;
	margin-right: 16px;

	
}
.icons div:last-child{
	margin-right: 0;
}
.icons div svg{
	color: red;
	width: 18px;
	height: 18px;
	color: #fff;
	
}

.copyright{
	text-align: center;
	color: #767676;
	font-size: 14px;
}
</style>

<footer>
	
	
	
	<div class="footer-content">
		<div class="footer-row">
			
			<section class="lists" style="display:flex;
			justify-content: space-evenly;">
				<ul>
					<h3>FoncierFab</h3>
					<a href="" class="visited_on_hover">
						<li>Qui-suis-je</li>
					</a>
					
					<a href="" class="visited_on_hover">
						
						<li>A propos</li>
					</a>
					<a href="" class="visited_on_hover">
						
						<li>Contact</li>
					</a>
					
				</ul>
				<ul>
					<h3>Urbanisme</h3>

					<a href="" class="visited_on_hover">
						
						<li>Comprendre le PLU</li>
					</a>
					<a href="" class="visited_on_hover">
						
						<li>Le site de l'IGN</li>
					</a>
					<a href="" class="visited_on_hover">
						
						<li>PLU de Vincennes</li>
					</a>
					<a href="" class="visited_on_hover">
						
						<li>PLU de Nogent</li>
					</a>
					<a href="" class="visited_on_hover">
						
						<li>PLU de Fontenay-sous-Bois</li>
					</a>
					<a href="" class="visited_on_hover">
						
						<li>Le site des valeurs foncières</li>
					</a>
				</ul>
				<ul>
					<h3>Réseaux sociaux</h3>

					<a href="" class="visited_on_hover">
						
						<li>Malt.fr</li>
					</a>
					<a href="" class="visited_on_hover">
						
						<li>Linkedin</li>
					</a>
					<a href="" class="visited_on_hover">
						
						<li>Twitter</li>
					</a>
					
				</ul>
			</section>
		</div>
		
		<hr>
		
		<div class="socialnetworks">
			<h2>Rejoignez-moi sur les réseaux sociaux</h2>
			<section class="icons">
				<div><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 155.139 155.139" style="enable-background:new 0 0 155.139 155.139;" xml:space="preserve"><g>		<path id="f_1_" style="fill:#010002;" d="M89.584,155.139V84.378h23.742l3.562-27.585H89.584V39.184   c0-7.984,2.208-13.425,13.67-13.425l14.595-0.006V1.08C115.325,0.752,106.661,0,96.577,0C75.52,0,61.104,12.853,61.104,36.452   v20.341H37.29v27.585h23.814v70.761H89.584z"/>	</svg></div>
				<div><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="96.828px" height="96.827px" viewBox="0 0 96.828 96.827" style="enable-background:new 0 0 96.828 96.827;" xml:space="preserve">			<path d="M62.617,0H39.525c-10.29,0-17.413,2.256-23.824,7.552c-5.042,4.35-8.051,10.672-8.051,16.912    c0,9.614,7.33,19.831,20.913,19.831c1.306,0,2.752-0.134,4.028-0.253l-0.188,0.457c-0.546,1.308-1.063,2.542-1.063,4.468    c0,3.75,1.809,6.063,3.558,8.298l0.22,0.283l-0.391,0.027c-5.609,0.384-16.049,1.1-23.675,5.787    c-9.007,5.355-9.707,13.145-9.707,15.404c0,8.988,8.376,18.06,27.09,18.06c21.76,0,33.146-12.005,33.146-23.863    c0.002-8.771-5.141-13.101-10.6-17.698l-4.605-3.582c-1.423-1.179-3.195-2.646-3.195-5.364c0-2.672,1.772-4.436,3.336-5.992    l0.163-0.165c4.973-3.917,10.609-8.358,10.609-17.964c0-9.658-6.035-14.649-8.937-17.048h7.663c0.094,0,0.188-0.026,0.266-0.077    l6.601-4.15c0.188-0.119,0.276-0.348,0.214-0.562C63.037,0.147,62.839,0,62.617,0z M34.614,91.535    c-13.264,0-22.176-6.195-22.176-15.416c0-6.021,3.645-10.396,10.824-12.997c5.749-1.935,13.17-2.031,13.244-2.031    c1.257,0,1.889,0,2.893,0.126c9.281,6.605,13.743,10.073,13.743,16.678C53.141,86.309,46.041,91.535,34.614,91.535z     M34.489,40.756c-11.132,0-15.752-14.633-15.752-22.468c0-3.984,0.906-7.042,2.77-9.351c2.023-2.531,5.487-4.166,8.825-4.166    c10.221,0,15.873,13.738,15.873,23.233c0,1.498,0,6.055-3.148,9.22C40.94,39.337,37.497,40.756,34.489,40.756z"/>	</svg></div>
				
				
	</svg></div>
			</section>
		</div>
				






	</div>
</footer>    



{% endblock %}
