{% extends "base.html.twig" %}
{% block body %}
    {% for notification in app.flashes('success') %}
        <div class="col-md-6 mx-auto text-center alert alert-success">{{ notification }}</div>
    {% endfor %}

    
{% if annonces is not empty%} 


        <table class="table table-hover table-striped text-center mt-3">

            <thead class="bg-dark text-white">

                <tr>
                
                    <th>Annonce</th>
                    <th>Description</th>
                    <th>Photo</th>

                    
                    
                </tr>
                 </thead>

            <tbody>
                {% for annonce in annonces %}
                    
                    <tr class="align-middle">
                        
                        <td>{{ annonce.titre }}</td>
                        <td>{{ annonce.descriptioncourte }}</td>
                        <td>
                                {% if annonce.photos is not empty %}

                                    <img src="{{ asset("images/imagesUpload/" ~ annonce.photos[0].nom ) }}" alt="" style="width:80px"> 

                                {% else %}
                                    <img src="{{ asset('images/imageDefault.jpg') }}" alt="" style="width:80px">

                                {% endif %}

                        </td>

                    </tr>
                {% endfor %}


            </tbody>
        </table>


    {% else %}
        

        <h4 class="text-center text-danger mt-3 fst-italic">Vous n'avez aucun favori pour le moment</h4>
{% endif %}
{% endblock %}

